body{
  background-image: url(img/background.jpg);
}
.height-100 {
  height: 100vh
}

.card {
  width: 100%;
  border: none;
  height: 250px;
  max-width: 380px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor:pointer;
  justify-content: center;
  transition: all ease 0.4s
}

.card img {
  transition: all ease 0.4s
}

.card:hover img {
  margin-top: -80px
}

.card .content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: -60%;
  margin-left: -8px;
  transition: all ease 0.5s;
  border-radius: 4px;
  box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
}

.card .content .category {
  font-size: 17px;
  font-weight: 600
}

.card .content .price {
  font-size: 17px;
  font-weight: 500;
  color: #0d6efd
}

.card .content p {
  font-weight: 500;
  font-size: 12px
}

.card:hover .content {
  bottom: 0%
}

.buttons button {
  border-radius: 1px;
  margin-bottom: 10px;
  transition: all ease 0.3s
}

.content {
  padding: 10px
}
#footer
{background: #404040;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  min-height:100%}#footer 
  .footer-top{
    background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0;
    min-height:100%}#footer
.footer-top .footer-info{
  margin-bottom: 30px}#footer
.footer-top .footer-info h3{
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700}#footer
.footer-top .footer-info p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff}#footer
.footer-top h4{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px}#footer
.footer-top .footer-contact p{
  line-height: 26px}
